.float-child {
    width: 420px;
    float: left;
    padding: 15px;
    max-width: 100%;
}

.keypad-img {
    width: 400px;
    max-width: 100%;
    height: auto;
}

.mm-video {
    width: 350px;
    max-width: 100%;
    height: auto;
}

.float-parent {
    padding: 20px;
}