.float-child {
    float: left;
    padding: 15px;
    max-width: 100%;
}

.keypad {
    width: 250px;
    max-width: 100%;
    height: auto;
}

.mm {
    width: 250px;
    max-width: 100%;
    height: auto;
}

.fourier {
  width: 600px;
  max-width: 100%;
  height: auto;
}

.float-parent {
    padding: 20px;
}
